html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    flex-flow: column;
}

#map {
    display: block;
    border: none;
    width: 100%;
    height: 95vh;
}

#footerImg {
    width: 7.5%;
    height: auto;
}

.page-footer {
    margin-top: auto;
}
